<p id="notice"><%= notice %></p><br>

<div class="catselect">
	
<%= form_tag("",method: "get")  do | f | %>

<%= select_tag :categoria, options_for_select(@categoria_arreglo), class:'form-control' %>
<%= submit_tag "filter", class: 'btn btn-default' %>
<% end %>

</div>

<% @posts.each do |p|  %>
	

	<div class="col-md-4">
	<div class="postshow">
		

	<h2 class="title"><%= p.title  %></h2> 
	<p class="cat"><%= p.date  %></p> 
	<p class="cat"> <%= p.category.try(:name)  %> </p>
	<h3 class="body"> <%= p.content  %> </h3>
	<%= link_to 'show', board_post_path(@board.id, p.id)%>


	</div>
	</div>


	
<% end  %>


